@font-face {
  font-family: NeuweltLight;
  src: url(./assets/fonts/Neuwelt-Light.ttf);
}
@font-face {
  font-family: NeuweltRegular;
  src: url(./assets/fonts/Neuwelt-Regular.ttf);
}
@font-face {
  font-family: NeuweltBold;
  src: url(./assets/fonts/Neuwelt-Bold.ttf);
}
p {
  font-family: NeuweltRegular;
}
input {
  font-family: NeuweltLight;
}
h1 {
  font-family: NeuweltBold;
}
html {
  height: 100%;
}
body {
  margin: 0;
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  background-color: rgb(15 23 42/ 0.9);
}

.color-border {
  margin-top: -100px;
  max-width: 100vw;
}
