/* root variables for easy access and changes */
:root {
  /*colors */

  --text-color-main: #39373d;
  --text-color-light: #97a0b2;
  --btn-color-primary: #7b94d6;
  --btn-color-secondary: #7b94d6;
  --border: #e4e4e7;
  --solid-dark-color: rgb(30 41 59/1);
  --border-color: hsla(0, 0%, 100%, 0.1);
  --background-color: #ffffff;
  --text-color-highlight: #eef1f8;
  --text-color-purple: rgb(139, 92, 246);
  --text-color-error: #b24e46;
  --text-color-sucess: #4bb543;
  --backdrop-filter: blur(24px);

  /*others*/
  --shadow: 0px 2px 3px rgba(0, 176, 232, 0.08);
  --main-border-radius: 0.2rem;
  --secondary-border-radius: 4px;
  --max-width: 1200px;
  --small-screen: 700px;
}
